@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('/fonts/vazir/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body{font-family: Vazirmatn;}

.sliderContainer{

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.sliderContainer::-webkit-scrollbar{
  height: 0;
  width: 0;
}
.sliderItem{
  scroll-snap-align: start;
}


@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 400;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana regular.woff') format('woff');
}
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 100;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana thin.woff') format('woff');
}
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 200;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana extralight.woff') format('woff');
}
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 300;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana light.woff') format('woff');
}
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 500;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana medium.woff') format('woff');
}
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 600;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana demibold.woff') format('woff');
}
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 700;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana bold.woff') format('woff');
}
@font-face {
  font-family: 'dana';
  font-style: normal;
  font-weight: 800;
  src: local('dana'), url('https://fonts.cdnfonts.com/s/87601/dana extrabold.woff') format('woff');
}


@layer utilities {
  .ltr {
    direction: ltr;
  }
  .loader {
  
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    .loader-blue {
  
      border: 5px solid #4f69ee;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      }
    @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
      } 
}